
<div class="container mt-30">
  <h2 class="text-center mb-30 text-primary">Reactive Form Validation</h2>
  <span>{{fullNameLength}}</span>
  <form [formGroup]="formName" (ngSubmit)="onSubmit()">

    <!-- <div class="form-group" [ngClass]="{'has-error': formName.get('fullName').errors 
    && (formName.get('fullName').touched || formName.get('fullName').dirty) }" >
      <label for="fullName">Name:</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName">
     
      <div class="error" *ngIf="formName.get('fullName').errors 
      && (formName.get('fullName').touched || formName.get('fullName').dirty)">
      <span *ngIf ="formName.get('fullName').errors.required">This field is required.</span>
      <span *ngIf ="formName.get('fullName').errors.minlength || formName.get('fullName').errors.maxlength">
        Full name must be greater then 2 characters and less then 20 characters.</span>
    </div>
    </div> -->
    <div class="form-group" [ngClass]="{'has-error': formErrors.fullName }" >
      <label for="fullName">Name:</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName" (blur) =logKeyValidationErrors()>
      <div class="error" *ngIf = "formErrors.fullName">{{formErrors.fullName}}</div>
    </div>


    <!-- <div class="form-group" [ngClass] ="{'has-error': formName.get('email').errors && (formName.get('email').touched || formName.get('email').dirty)}">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  formControlName="email" name="email">
      <div class="error" *ngIf ="formName.get('email').errors && (formName.get('email').touched || formName.get('email').dirty)">
        <span *ngIf ="formName.get('email').errors.required">This field is required.</span>
        <span *ngIf ="formName.get('email').errors.email">Wrong email formate.</span>
      </div>
    </div> -->

    <div class="form-group" [ngClass] ="{'has-error': formErrors.email }">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  formControlName="email" name="email" (blur) =logKeyValidationErrors()>
      <div class="error" *ngIf= "formErrors.email">{{formErrors.email}}</div>
    </div>


    <div formGroupName ="skills" class="">
      <div class="form-group" [ngClass] ="{'has-error': formErrors.skillName }">
      <div class="col-6 float-left">
        <label for="skillName">Skill Name</label>
        <input type="text" class="form-control" id="skillName" formControlName="skillName" (blur) =logKeyValidationErrors()>
        <div class="error" *ngIf= "formErrors.skillName">{{formErrors.skillName}}</div>
        </div>
      </div>
      <div class="form-group" [ngClass] ="{'has-error': formErrors.experienceYears }">
        <div class="col-6 float-left">
          <label for="experienceYears">Experience Years </label>
      <input type="text" class="form-control" id="experienceYears" formControlName="experienceYears" (blur) =logKeyValidationErrors()>
      <div class="error" *ngIf= "formErrors.experienceYears">{{formErrors.experienceYears}}</div>
        </div>
      </div>
        <div class="form-group" [ngClass] ="{'has-error': formErrors.proficiency }">
        <label for="" class="mr-20 mt-20">Proficiency : </label>
        <input type="radio" value="biginner" class="mr-20" formControlName="proficiency">Biginner
        <input type="radio" value="intermediater" class="mr-20 ml-20" formControlName="proficiency">intermediater
        <input type="radio" value="advanced" class="mr-20 ml-20" formControlName="proficiency">advanced
        <div class="error" *ngIf= "formErrors.proficiency">{{formErrors.proficiency}}</div>
      </div>
    </div>

    
    <div class="footer-nav">
      <div class="btn-toolbar mb-20">
      <button type="submit" class="btn btn-info mr-20">Submit</button>
    <button type="button" class="btn btn-danger" (click)="loadDataClick()">load data</button>
  </div>
</div>
    <!-- <table border="1" style="margin-top: 20px;">
      <tr>
        <td>form Group</td>
        <td>Form Control</td>
      </tr>
      <tr style="padding: 5px;">
      <td>touched: {{ formName.touched }}
        <br> dirty: {{ formName.dirty }}
        <br> valid: {{ formName.valid }}
        <br> full name value: {{ formName.value | json }}
        </td>
        <td>touched: {{ formName.get('fullName').touched }}
          <br> dirty: {{ formName.get('fullName').dirty }}
          <br> valid: {{ formName.get('fullName').valid }}
          <br> full name value: {{ formName.get('fullName').value }}
          </td>
      </tr>
    </table> -->
  </form>
</div>


