
<div class="container mt-30">
  <h2 class="text-center mb-30 text-primary">Reactive Form Validation</h2>
  <span>{{fullNameLength}}</span>
  <form [formGroup]="formName" (ngSubmit)="onSubmit()">

    <div class="form-group" [ngClass]="{'has-error': formName.get('fullName').errors 
    && (formName.get('fullName').touched || formName.get('fullName').dirty) }" >
      <label for="fullName">Name:</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName">
     
      <div class="error" *ngIf="formName.get('fullName').errors 
      && (formName.get('fullName').touched || formName.get('fullName').dirty)">
      <span *ngIf ="formName.get('fullName').errors.required">This field is required.</span>
      <span *ngIf ="formName.get('fullName').errors.minlength || formName.get('fullName').errors.maxlength">
        Full name must be greater then 2 characters and less then 20 characters.</span>
    </div>

    </div>

    <div class="form-group" [ngClass] ="{'has-error': formName.get('email').errors && (formName.get('email').touched || formName.get('email').dirty)}">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  formControlName="email" name="email">
      <div class="error" *ngIf ="formName.get('email').errors && (formName.get('email').touched || formName.get('email').dirty)">
        <span *ngIf ="formName.get('email').errors.required">This field is required.</span>
        <span *ngIf ="formName.get('email').errors.email">Wrong email formate.</span>
      </div>

    </div>

    <div formGroupName ="skills">
      <div class="form-group">
      <div class="col-6 float-left">
        <label for="skillName">Skill Name</label>
        <input type="text" class="form-control" id="skillName" formControlName="skillName">
        
        </div>

        <div class="col-6 float-left">
          <label for="experienceYears">Experience Years </label>
      <input type="text" class="form-control" id="experienceYears" formControlName="experienceYears">
        </div>
      </div>
        <div class="form-group">
        <label for="">Proficiency</label>
        <input type="radio" value="biginner" formControlName="proficiency">Biginner
        <input type="radio" value="intermediater" formControlName="proficiency">intermediater
        <input type="radio" value="advanced" formControlName="proficiency">advanced
      </div>
    </div>

    
    <div class="footer-nav">
      <div class="btn-toolbar">
      <button type="submit" class="btn btn-info">Submit</button>
    <button type="button" class="btn btn-danger" (click)="loadDataClick()">load data</button>
  </div>
</div>
    <table border="1" style="margin-top: 20px;">
      <tr>
        <td>form Group</td>
        <td>Form Control</td>
      </tr>
      <tr style="padding: 5px;">
      <td>touched: {{ formName.touched }}
        <br> dirty: {{ formName.dirty }}
        <br> valid: {{ formName.valid }}
        <br> full name value: {{ formName.value | json }}
        </td>
        <td>touched: {{ formName.get('fullName').touched }}
          <br> dirty: {{ formName.get('fullName').dirty }}
          <br> valid: {{ formName.get('fullName').valid }}
          <br> full name value: {{ formName.get('fullName').value }}
          </td>
      </tr>
    </table>
  </form>
</div>


